html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: url(bg.png);
  height: 100%;
  font-family: "Lato", sans-serif;
  background-size: cover;
  background-attachment: fixed;
}


.landing-page {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.landing-page:before {
  content: '';
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.sidebar {
  margin-top: 50px;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #253855b7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
}

.sidebar a {
  padding: 11px 8px 8px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

#mySidebar img {
  vertical-align: middle;
  margin-right: 10px;
  height: 20px;
  width: 20px;
}


.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.sidebar a:hover {
  background-color: #6262629d;
}

header {
  z-index: 1;
  background-color: #3333336f;
  color: white;
  position: fixed;
  width: 100%;
  display: inline;
  padding: 1px 8px 8px 15px;
  margin-bottom: 10px;
  height: 50px;
}

header h4 {
  font-size: 25px;
  display: inline;
}

header img {
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: 20px;
}

header .logo {
  height: 30px;
  width: 30px;
}

#main {
  transition: margin-left .5s;
  padding: 50px 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;

}

.container-fluid {
  overflow-x: scroll;
}

.card {
  filter: drop-shadow(0 0 0.2rem black);

}

/* .dropdown:hover .dropdown-menu {
    display: block;
  } */

.dropdown-menu {
  padding: 10px;
  height: fit-content;
}

.dropdown .btn,
p {
  color: #ffffff;
  display: inline;
}

.dropdown .p {
  padding-top: 2px;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.dropdown:hover .p {
  outline: 9px solid rgba(255, 255, 255, 0.279);
  transition: outline 1s ease;
}



.dropdown-menu p {
  color: #111;
  line-height: 1px;
  font-size: 15px;
  padding-left: 13px;
  padding-right: 13px;
  display: block;

}

ul {
  margin-top: 12px;

}

.dropdown-item img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}



@media screen and (max-width: 600px) {
  .sidebar a {
    font-size: 18px;
  }

  .sidebar {
    width: 50px;
  }

  #main {
    margin-left: 50px;
    margin-right: 0px;
  }

  .container-lg {
    width: 100%;
    margin: auto;
    height: fit-content;
  }

  .open {
    padding-right: 0;
  }

}


.input:invalid {
  animation: justshake 0.3s forwards;
  color: red;
}

@keyframes justshake {
  25% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX-(5px);
  }
}